body{
  margin: 0;
  font-family: 'Roboto';
  font-size: 20px;
}

*{
  box-sizing: border-box;
}

th{
  text-align: left;
}

.container{
  width: 1440px;
  display: inline-flex;
  flex-flow: row nowrap;
  min-height: 8px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.left, .right, .center{
  min-height: 8px;
}

.left, .right{
  flex-basis: 500px;
  position: relative;
}

.left{
  margin-right: auto;
}

.center{
  flex: 1;
}

.right{
  margin-left: auto;
}

.marker, .block{
  width: 100%;
  transition: all 0.4s ease;
}

.marker{
  height: 96px;
  position: relative;
}

.block{
  position: absolute;
}

.block-inner{
  background-color: #222;
  border: 4px solid #666;
  width: 100%;
  height: 100%;
}

.marker-inner{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 4px solid #666;
  position: relative;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-100%);
}

.date{
  height: 48px;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 900;
}

.event{
  display: flex;
  flex-flow: row nowrap;
}

.event-logo{
  flex-basis: 48px;
}

.event-logo img{
  width: 100%;
}

.event-info{
  flex: 1;
  padding-left: 24px;
}

.event-name{
  font-family: 'Rajdhani';
  font-weight: 600;
  font-size: 28px;
}

.event-results{
  width: 100%;
  margin-top: 16px;
  border-collapse: collapse;
  font-size: 16px;
}

.event-results td, .event-results th{
  padding: 8px;
  border: 1px solid #aaa;
}

td.place{
  font-weight: 700;
}

.selected-team{
  background-color: #222;
  color: #fff;
}

.twitter-tweet{
  width: unset!important;
  margin: 32px 0!important;
}

.tier{
  font-weight: 700;
}

.tier.premiere{
  color: #5701D4;
}
